{% extends "base.html" %} 

{% block title %} All Posts {% endblock %}
   
{% block content %} 	
	{% if object_list %}
    
    <ul> 
	    {% for post in object_list %}
		    <li> <a href="{{ post.get_absolute_url}}"> {{ post }} </a> </li>
		{% endfor %}
	</ul>
	{% else %} 
		<p> There is no information on posts to Science Hack day Nairobi. </p> 
	{% endif %}
	
	<p> {{ page_obj }}
		{% if page_obj.has_previous %}
			<a href="?page={{ page_obj.previous_page_number }}">Previous page</a>
		{% endif %}
		{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">Next page</a>
		{% endif %}</p>
{% endblock %}