{% extends "base.html" %} 

{% block title %} {{ object.title }} {% endblock %} 

{% block meta_content %} {{ object.title }} {% endblock %}

{% block extra_headers %} 
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
<script language="javaScript" src="/static/admin/js/jquery.js"> </script>
<script language="javaScript" src="/static/admin/js/jquery.min.js"> </script>
<script type="text/javascript" src="/static/scripts/js/tiny_mce/tiny_mce.js"> </script> 
<script type="text/javascript"> 
tinyMCE.init({
    mode: "textareas",
    theme: "advanced" /*, 
	plugins : "spellchecker,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

        // Theme options
        theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
        theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
        theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,spellchecker,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,blockquote,pagebreak,|,insertfile,insertimage",
        theme_advanced_toolbar_location : "top",
        theme_advanced_toolbar_align : "left",
        theme_advanced_statusbar_location : "bottom",
        theme_advanced_resizing : true,

        // Skin options
        skin : "o2k7",
        skin_variant : "silver",

        // Example content CSS (should be your site CSS)
        content_css : "css/example.css",

        // Drop lists for link/image/media/template dialogs
        template_external_list_url : "js/template_list.js",
        external_link_list_url : "js/link_list.js",
        external_image_list_url : "js/image_list.js",
        media_external_list_url : "js/media_list.js",

        // Replace values for the template plugin
        template_replace_values : {
                username : "Some User",
                staffid : "991234"
        } */
    
});
</script> 
{% endblock %}
   
{% block content %} 
		<div id="{{ object.id }}" class="post{{ object.id }} post type-post hentry category-{{ object.pub_date|date:"Y" }}">
			<h2 class="entry-title"><a href="{{ object.get_absolute_url }}" title="Permalink to {{ object.title }}" rel="bookmark">{{ object.title }}</a></h2>

			<div class="entry-meta">
				<span class="meta-prep meta-prep-author">Posted on</span> <a href="{{ object.get_absolute_url }}" title="{{ object.pub_date|date:"Y" }}" rel="bookmark">
				<span class="entry-date">{{ object.pub_date|date:"F j, Y" }}</span></a> <span class="meta-sep">by</span> <span class="author vcard"><a class="url fn n" href="/" title="View all posts by {{object.author}}">{{object.author}}</a></span></div><!-- .entry-meta -->
				<div class="entry-content">
				    {{ object.body_html|safe }}
				</div><!-- .entry-content -->
			<div class="entry-utility">
									<span class="cat-links">
						<span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> 
						<!-- Display the categories the entry is posted under --> 
						{% for category in object.categories.all %}
						<a href="{{ category.get_absolute_url }}" title="View all posts in 2011" rel="category tag">{{ category.title }}</a>
						{% if forloop.last %}{% else %}
						{% ifequal forloop.revcounter0 1 %}and {% else %}, {% endifequal %}
						{% endif %}
						{% endfor %}
						 </a> </span>
						 
						 {% if object.tags %}
						 <span class="meta-sep">|</span>

						<span class="tag-links">
						<span class="entry-utility-prep entry-utility-prep-tag-links">Tagged</span> 
						 {% for tag in object.tags %}
						<a href="{{ tag.get_absolute_url }}" rel="tag">{{ tag }}</a>
							{% if forloop.last %}{% else %}
							{% ifequal forloop.revcounter0 1 %}and {% else %}, {% endifequal %}
							{% endif %}						 
						{% endfor %}						 
						</span> 
						{% endif %}
					<span class="meta-sep">|</span>
							
												<span class="comments-link"><a href="{{ object.get_absolute_url }}#respond" title="{{ object.title }}">Leave a comment</a></span>
							</div><!-- .entry-utility -->
		</div><!-- #post-## -->
		
		<div id="comments">

					{% if object.enable_comments %}
					<div id="respond">
					{% load comments %}
					{% load markup %}
					{% get_comment_list for object as comment_list %}
					
					{% for comment in comment_list %} 
					<p> <a href="{{comment.url}}">{{ comment.name }}</a> says: <br /> 
					On {{comment.submit_date|date:"F j, Y"}}  </p>
					<br /> {{ comment.comment|markdown}} <br /> <br />
					{% endfor %}
					<h3> Post a comment </h3>
					{% render_comment_form for object %}
					</div><!-- #respond -->
						
		</div><!-- #comments -->
					{% endif %}
{% endblock %}